<md-dialog aria-label="Edit User" flex="50">

    <div class="md-actions">
        <md-button ng-click="save()" ng-disabled="!userForm.$valid" class="md-primary pull-left">
            Save
        </md-button>
        <md-button ng-click="cancel()" class="md-primary md-warn">
            Cancel
        </md-button>
    </div>

    <md-dialog-content>

        <form layout="column" name="userForm">

            <md-header>
                User
            </md-header>

            <md-input-container>
                <label>First Name</label>
                <input type="text" ng-model="user.firstName" required="true"/>
            </md-input-container>
            <md-input-container>
                <label>Last Name</label>
                <input type="text" ng-model="user.lastName" required="true"/>
            </md-input-container>
            <md-input-container>
                <label>Type or Role</label>
                <input type="text" ng-model="user.roleOrType"/>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input type="email" ng-model="user.email" required="true"/>
            </md-input-container>
            <md-input-container>
                <label>Address</label>
                <input type="text" ng-model="user.address"/>
            </md-input-container>

            <md-header>
                Phone Numbers
                <md-button ng-click="addPhoneNumber()">
                    Add
                </md-button>
            </md-header>
            <div ng-if="!user.phoneNumbers.length">
                <md-subheader>
                    <i>No phone numbers</i>
                </md-subheader>
            </div>

            <md-grid-list md-cols="2" md-row-height="50px">
                <md-grid-tile md-colspan="1" ng-repeat-start="phoneNumber in user.phoneNumbers">
                    <md-input-container>
                        <label>Number</label>
                        <input type="text" ng-model="phoneNumber.number" required="true"/>
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile md-colspan="1">
                    <md-input-container>
                        <label>Type</label>
                        <input type="text" ng-model="phoneNumber.type" required="true"/>
                    </md-input-container>
                </md-grid-tile>
                <span ng-repeat-end></span>
            </md-grid-list>

            <md-header>
                Admin
            </md-header>

            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="user.password"/>
            </md-input-container>
            <md-input-container>
                <label>Role</label>
                <input type="password" ng-model="user.role"/>
            </md-input-container>

            <md-header>
                Call Tree
                <md-button ng-click="addCallTree()">
                    Add
                </md-button>
            </md-header>
            <div ng-if="!user.callTree.length">
                <md-subheader>
                    <i>No call tree contacts</i>
                </md-subheader>
            </div>

            <md-grid-list md-cols="2" md-row-height="50px">
                <md-grid-tile md-colspan="1" ng-repeat-start="contact in user.callTree">
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" ng-model="contact.name" required="true"/>
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile md-colspan="1">
                    <md-input-container>
                        <label>Number</label>
                        <input type="text" ng-model="contact.number" required="true"/>
                    </md-input-container>
                </md-grid-tile>
                <span ng-repeat-end></span>
            </md-grid-list>

        </form>

    </md-dialog-content>

</md-dialog>
