<md-dialog aria-label="New User" flex="50">

    <div class="md-actions">
        <md-button ng-click="save()" ng-disabled="!userForm.$valid" class="md-primary pull-left">
            Save
        </md-button>
        <md-button ng-click="cancel()" class="md-primary md-warn">
            Cancel
        </md-button>
    </div>

    <md-dialog-content>
        <form layout="column" name="userForm">

            <md-input-container>
                <label>First Name</label>
                <input type="text" ng-model="user.firstName" required="true"/>
            </md-input-container>
            <md-input-container>
                <label>Last Name</label>
                <input type="text" ng-model="user.lastName" required="true"/>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input type="email" ng-model="user.email" required="true"/>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="text" ng-model="user.password" required="true"/>
            </md-input-container>

        </form>
    </md-dialog-content>

</md-dialog>
